<div class="col-sm-2">

</div>
<div class="col-sm-3 center-align">
  <a href="{{url_for('inspire')}}">
    <div class="card-body">
    <img src="{{ url_for('static', filename='images/test.jpg') }}" class="card-img-top hoverable" alt="">
      <h5 class="card-title">Inspire me</h5>
      <p class="card-text"> About inspire me</p>
    </div>
  </a>
</div>
<div class="col-sm-2"></div>
<div class="col-sm-3 center-align">
  <a href="{{url_for('explore')}}">
    <div class="card-body">
      <img src="{{ url_for('static', filename='images/test.jpg') }}" class="card-img-top hoverable" alt="">
      <h5 class="card-title">Buy now</h5>
      <p class="card-text"> About Buy now</p>
    </div>
  </a>
</div>
<div class="col-sm-2">

</div>
