{% extends "layout.html" %}

{% block head %}
  <link href="{{ url_for('static', filename='css/style1.css') }}" type="text/css" rel="stylesheet">

{% endblock %}
{% block body %}


<div class="container-fluid d-flex h-100" style="background:transparent url('../../static/images/bg-home.jpeg') no-repeat center center /cover">
  <div class="row justify-content-center align-self-center" style="width:100%">
    <div class="col-sm-2 center-align mx-auto"></div>
    <div class="col-sm-3 center-align mx-auto">
      <a href="{{url_for('inspire')}}">
        <div class="card">
          <div class="card-body">
            <img src="{{ url_for('static', filename='images/home-inspire-logo.png') }}" class="card-img-top hoverable" alt="">
            <center><h5 class="card-title" style="background:black; padding:20px; margin-top:3px; margin-bottom:0px;color:#eee">Inspire me</h5></center>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-3 center-align">
      <a href="{{url_for('buy')}}">
        <div class="card">
          <div class="card-body special-card">
            <img src="{{ url_for('static', filename='images/home-buy-logo.png') }}" class="card-img-top hoverable" alt="">
            <center><h5 class="card-title" style="background:black; padding:20px; margin-top:3px; margin-bottom:0px;color:#eee">Buy now</h5></center>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-2 center-align mx-auto"></div>
  </div>
</div>


{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
{% endblock %}
