
{% extends "layout.html" %}

{% block head %}
  <link href="{{ url_for('static', filename='css/style1.css') }}" type="text/css" rel="stylesheet">
  
{% endblock %}
{% block body %}


  <div class="container h-100" style="margin-top: 10px; margin-bottom: 10px">
    <div class="row w-100 h-100" style="height: 100%">
      <div class="col-md-4" style="height: auto;">
        <div class="card" style="height: auto">
          <a href="#" class="card-link">
          <img src="{{ url_for('static', filename='images/television.jpeg') }}" class="card-img-top hoverable" alt="" style="height: auto">
          <div class="card-block">
            <h4 class="card-title">Television</h4>
            <!-- <h6 class="card-subtitle text-muted">Support card subtitle</h6> -->
            <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
            <!-- <a href="#" class="card-link">Second link</a> -->
          </div>
        </a>  
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="#" class="card-link">
          <img src="{{ url_for('static', filename='images/audio.jpg') }}" class="card-img-top hoverable" alt="">
          <div class="card-block">
            <h4 class="card-title">Audio</h4>
            <!-- <h6 class="card-subtitle text-muted">Support card subtitle</h6> -->
            <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
            <!-- <a href="#" class="card-link">Second link</a> -->
          </div>
        </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="#" class="card-link">
          <img src="{{ url_for('static', filename='images/mobiles.jpg') }}" class="card-img-top hoverable" alt="">
          <div class="card-block">
            <h4 class="card-title">Smartphones</h4>
            <!-- <h6 class="card-subtitle text-muted">Support card subtitle</h6> -->
            <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
            
            <!-- <a href="#" class="card-link">Second link</a> -->
          </div>
        </a>
        </div>
      </div>
    </div>
  </div>



{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
{% endblock %}
