
{% extends "layout.html" %}

{% block head %}
  <link href="{{ url_for('static', filename='css/style1.css') }}" type="text/css" rel="stylesheet">

{% endblock %}
{% block body %}


  <div class="container-fluid h-100" style="margin-top: 10px; margin-bottom: 10px">
    <div class="row w-100 h-100" style="height: 100%">
      <div class="col-md-4" style="height: 100%;">
        <div class="card img-fluid" style="width:500px; height: 100%">
          <img class="card-img-top" src="{{ url_for('static', filename='images/television.jpeg') }}" alt="Card image" style="width:100%; height: 100%">
          <div class="card-img-overlay">
            <h4 class="card-title">TV</h4>
            <a href="{{ url_for('tv')}}" class="btn btn-primary stretched-link">TV</a>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="height: 100%;">
        <div class="card img-fluid" style="width:500px; height: 100%">
          <img class="card-img-top" src="{{ url_for('static', filename='images/audio.jpg') }}" alt="Card image" style="width:100%; height: 100%">
          <div class="card-img-overlay">
            <h4 class="card-title">Audio</h4>
            <a href="#" class="btn btn-primary stretched-link">Audio</a>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="height: 100%;">
        <div class="card img-fluid" style="width:500px; height: 100%">
          <img class="card-img-top" src="{{ url_for('static', filename='images/audio.jpg') }}" alt="Card image" style="width:100%; height: 100%">
          <div class="card-img-overlay">
            <h4 class="card-title">Phone</h4>
            <a href="#" class="btn btn-primary stretched-link">Phone</a>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
{% endblock %}
