
{% extends "layout.html" %}

{% block head %}
  <link href="{{ url_for('static', filename='css/style1.css') }}" type="text/css" rel="stylesheet">

{% endblock %}
{% block body %}


  <div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="row" style="width:100%; height: 100%">
      <div class="card-group">
        <div class="card img-fluid text-center h-70" style="height: 100%">

          <img class="card-img-top h-70" src="{{ p1u }}" alt="Card image" style="width:auto; height: 100%">
          <div class="card-img">
            <h3 class="card-title">{{p1}}</h3>
            <a href="#" class="btn btn-primary stretched-link">{{p1}}</a>
          </div>
        </div>
        <div class="card img-fluid text-center h-70" style="height: 100%">
          <img class="card-img-top h-70" src="{{ p2u }}" alt="Card image" style="width:auto; height: 100%">
          <div class="card-img">
            <h4 class="card-title">{{ p2 }}</h4>
            <a href="#" class="btn btn-primary stretched-link">{{p2}}</a>
          </div>
        </div>
        <div class="card img-fluid text-center h-70" style="height: 100%">
          <img class="card-img-top h-70" src="{{ p3u }}" alt="Card image" style="width:auto; height: 100%">
          <div class="card-img">
            <h4 class="card-title">{{p3}}</h4>
            <a href="#" class="btn btn-primary stretched-link">{{p3}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
{% endblock %}
