body{

	background: linear-gradient(135deg,  #ffffff 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.navbar{
	background: linear-gradient(135deg, #e570e7 0%,#c85ec7 47%,#a849a3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=1 );


}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.navbar-nav .nav-item {
	color: #fff;
}

.navbar-nav .nav-item.nav-item-double-line.active>.nav-link, .navbar-nav .nav-item.nav-item-double-line>.nav-link:active, .navbar-nav .nav-item.nav-item-double-line>.nav-link:active:focus, .navbar-nav .nav-item.nav-item-double-line>.nav-link:focus, .navbar-nav .nav-item.nav-item-double-line>.nav-link:hover, .navbar-nav .nav-item.nav-item-line.active>.nav-link, .navbar-nav .nav-item.nav-item-line>.nav-link:active, .navbar-nav .nav-item.nav-item-line>.nav-link:active:focus, .navbar-nav .nav-item.nav-item-line>.nav-link:focus, .navbar-nav .nav-item.nav-item-line>.nav-link:hover {
    color: #fff;
}
.navbar-nav .nav-item.nav-item-line.active>.nav-link::after, .navbar-nav .nav-item.nav-item-line>.nav-link:active::after, .navbar-nav .nav-item.nav-item-line>.nav-link:active:focus::after, .navbar-nav .nav-item.nav-item-line>.nav-link:focus::after, .navbar-nav .nav-item.nav-item-line>.nav-link:hover::after {
    width: 100%;
    left: 0;
}
.navbar-nav .nav-item.nav-item-line>.nav-link::after {
    content: '';
    background: #fff;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: 0;
    position: absolute;
    transition: .3s;
}
