body{

	/*background: linear-gradient(135deg,  #ffffff 0%,#e5e5e5 100%);*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */*/
	background-color: #7C7EFF;
	

}
.navbar{
	background: linear-gradient(135deg, #AC267F 0%,#832161 47%,#5a1743 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac267f', endColorstr='#5a1743',GradientType=1 );
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.navbar a {
	color: #857c8d;
	font-size: 24px;
}
.navbar-nav .nav-item {
	color: #fff;
}

.navbar-nav .nav-item.nav-item-double-line.active>.nav-link, .navbar-nav .nav-item.nav-item-double-line>.nav-link:active, .navbar-nav .nav-item.nav-item-double-line>.nav-link:active:focus, .navbar-nav .nav-item.nav-item-double-line>.nav-link:focus, .navbar-nav .nav-item.nav-item-double-line>.nav-link:hover, .navbar-nav .nav-item.nav-item-line.active>.nav-link, .navbar-nav .nav-item.nav-item-line>.nav-link:active, .navbar-nav .nav-item.nav-item-line>.nav-link:active:focus, .navbar-nav .nav-item.nav-item-line>.nav-link:focus, .navbar-nav .nav-item.nav-item-line>.nav-link:hover {
    color: #fff;
}
.navbar-nav .nav-item.nav-item-line.active>.nav-link::after, .navbar-nav .nav-item.nav-item-line>.nav-link:active::after, .navbar-nav .nav-item.nav-item-line>.nav-link:active:focus::after, .navbar-nav .nav-item.nav-item-line>.nav-link:focus::after, .navbar-nav .nav-item.nav-item-line>.nav-link:hover::after {
    width: 100%;
    left: 0;
}
.navbar-nav .nav-item.nav-item-line>.nav-link::after {
    content: '';
    background: #fff;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: 0;
    position: absolute;
    transition: .3s;
}

.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.flexbox .col {
  flex: 1;
}
.flexbox .col:nth-child(1) {
  background: #ccc;
  order: 1;
}
.flexbox .col:nth-child(2) {
  background: #eee;
  order: 0;
}
.flexbox .col:nth-child(3) {
  background: #eee;
  order: 2;
}

.special-card {
	background-color: rgba(245, 245, 245, 0.4) !important;
}

