body{

	background: linear-gradient(135deg,  #ffffff 0%,#e5e5e5 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	}
.navbar{
	background: linear-gradient(135deg, #e570e7 0%,#c85ec7 47%,#a849a3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=1 );

	
}