{% extends "layout.html" %}

{% block head %}
	<link href="{{ url_for('static', filename='css/style1.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block body %}

	<div class="container d-flex h-100">
		<div class="row justify-content-center align-self-center">

			{{ content | safe }}

		</div>
	</div>

{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
<script>
$(".navbar-nav li").click(function(){
	$(".navbar-nav li").removeClass("active");
	$(this).addClass("active");
});
function outputUpdate(slid) {
	document.querySelector('#sliderVal').value = Math.round(slid, 1);
}
var valueBubble = '<output class="rangeslider__value-bubble" />';

var unit = $('input[type="range"]').attr('unit');

function updateValueBubble(pos, value, context) {
  pos = pos || context.position;
  value = value || context.value;
  var $valueBubble = $('.rangeslider__value-bubble', context.$range);
  var tempPosition = pos + context.grabPos;
  var position = (tempPosition <= context.handleDimension) ? context.handleDimension : (tempPosition >= context.maxHandlePos) ? context.maxHandlePos : tempPosition;

  if ($valueBubble.length) {
    $valueBubble[0].style.left = Math.ceil(position) + 'px';
    $valueBubble[0].innerHTML = value + " " + unit;
  }
}

$('input[type="range"]').rangeslider({
  polyfill: false,
  onInit: function() {
    this.$range.append($(valueBubble));
    updateValueBubble(null, null, this);
  },
  onSlide: function(pos, value) {
    updateValueBubble(pos, value, this);
  }
});
</script>
{% endblock %}
