{% extends "layout.html" %}

{% block head %}
	<link href="{{ url_for('static', filename='css/style1.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block body %}

	<div class="container d-flex h-100" >
		<div class="row justify-content-center align-self-center" >

			{{ content | safe }}

		</div>
	</div>

{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
<script>
$(".navbar-nav li").click(function(){
	$(".navbar-nav li").removeClass("active");
	$(this).addClass("active");
});
</script>
{% endblock %}
