<div class="navbar navbar-expand-md bsnav bsnav-brand-center">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler toggler-spring"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-md-between">
        <ul class="navbar-nav navbar-mobile">
            <li class="nav-item nav-item-line active"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item nav-item-line"><a class="nav-link" href="#">About Us</a></li>
            <li class="nav-itemnav-item-line"><a class="nav-link" href="#">News</a></li>
        </ul>
        <ul class="navbar-nav navbar-mobile">
            <li class="nav-item nav-item-line"><a class="nav-link" href="#">Item</a></li>
            <li class="nav-item nav-item-line"><a class="nav-link" href="#">Gallery</a></li>
            <li class="nav-item nav-item-line"><a class="nav-link" href="#">Contact</a></li>
        </ul>
  </div>
</div>
