<div class="navbar navbar-expand-md bsnav bsnav-brand-center">
    <a class="navbar-brand" href="#">Personal Genie</a>

    <button class="navbar-toggler toggler-spring"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-md-between">
        <ul class="navbar-nav navbar-mobile">
            <li class="nav-item nav-item-line active"><a class="nav-link" href="{{ url_for('home') }}" type="text/css" rel="stylesheet">Home</a></li>
            <li class="nav-item nav-item-line"><a class="nav-link" href="{{ url_for('explore') }}">Explore</a></li>
        </ul>
        <ul class="navbar-nav navbar-mobile">
            <li class="nav-item nav-item-line"><a class="nav-link" href="{{ url_for('about') }}">About</a></li>
            <li class="nav-item nav-item-line"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
  </div>
</div>
